.app-layout {
  min-height: 100vh;
  display: flex;
  background: #f1f5f9;
}

.app-layout-content-wrap {
  flex: 1;
  min-width: 0;
}

.app-layout-main {
  padding: 1rem;
}

@media (min-width: 768px) {
  .app-layout-main {
    padding: 1.5rem;
  }
}
